<h1>Mastermind Game</h1>

<%
  puts " ------ Index JSP ------------"
%>
<b>Make your guess:</b><br/><br/>
<%= form_for @guess, url: 'guesses/guess' do |f| %>
  Slot 1: <%= f.select :slotone, [["Red", "R"], ["Green", "G"],
                                  ["Blue", "B"], ["Yellow", "Y"]],
                                   include_blank: false %><br/>
  Slot 2: <%= f.select :slottwo, [["Red", "R"], ["Green", "G"],
                                  ["Blue", "B"], ["Yellow", "Y"]],
                                   include_blank: false %><br/>
  Slot 3: <%= f.select :slotthree, [["Red", "R"], ["Green", "G"],
                                  ["Blue", "B"], ["Yellow", "Y"]],
                                   include_blank: false %><br>
  Slot 4: <%= f.select :slotfour, [["Red", "R"], ["Green", "G"],
                                  ["Blue", "B"], ["Yellow", "Y"]],
                                   include_blank: false %><br/><br/>
  <%= f.hidden_field :guess_count %>
  <%= f.hidden_field :solution %>
  <%= f.submit %>
<% end %>
